/* ------------------------------
start of basics section
-------------------------------*/

:root {
  scroll-behavior: smooth;
  --basic-font: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue",
    "Arial", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --nav-color: rgba(0, 0, 0, 0.9);
  --primary-blue: #0078ff;
  --primary-dark-black: #1e1e1e;
}
body {
  font-family: var(--basic-font);
  background-color: #f5f5f5;
  color: #4e4e4e;
}

/* ------------------------------
end of basics section
-------------------------------*/

/* ------------------------------
start of header section
-------------------------------*/
.navbar--bg-color {
  background-color: var(--nav-color);
  z-index: 5;
}
.navbar--myflex-grow {
  flex-grow: 0;
}

.navbar__logo--font {
  font-size: 1.75rem;
  font-weight: 600;
}
.navbar__li {
  padding: 10px 0px 10px 30px;
}
.navbar__li__links {
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  color: white !important;
}
.navbar__li__links::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.navbar__li__links:hover::before {
  visibility: visible;
  width: 90%;
}

/* ------------------------------
end of header section
-------------------------------*/

/* ------------------------------
start of home section
-------------------------------*/
#home {
  height: 100vh;
  background-image: url(../images/intro-bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.home--darker {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.home__main-title {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
}
.home__main-title__h1 {
  font-size: calc(2.5rem + 5vw);
}
.home__main-title__span {
  font-size: 2.5rem;
  
}
.home__main-title__span::after {
  content: "";
  font-size: 2.5rem;
  animation: typing 10s infinite   ease-in-out;
}
@keyframes typing {
  0% {content: "D|";}
  2% {content: "De|";}
  4% {content: "Dev|";}
  6% {content: "Deve|";}
  8% {content: "Devel|";}
  12% {content: "Develo|";}
  14% {content: "Develop|";}
  16% {content: "Develope|";}
  18% {content: "Developer|";}
  20% {content: "Develope|";}
  22% {content: "Develop|";}
  24% {content: "Develo|";}
  28% {content: "Devel|";}
  30% {content: "Deve|";}
  32% {content: "Dev|";}
  34% {content: "De|";}
  36% {content: "D|";}
  38% {content: "|";}
  40% {content: "D|";}
  42% {content: "De|";}
  44% {content: "Des|";}
  46% {content: "Desi|";}
  48% {content: "Desig|";}
  50% {content: "Design|";}
  52% {content: "Designe|";}
  54% {content: "Designer|";}
  56% {content: "Designe|";}
  58% {content: "Design|";}
  60% {content: "Desig|";}
  62% {content: "Desi|";}
  64% {content: "Des|";}
  66% {content: "De|";}
  68% {content: "D|";}
  70% {content: "|";}
  72% {content: "F|";}
  74% {content: "Fr|";}
  76% {content: "Fre|";}
  78% {content: "Free|";}
  80% {content: "Freel|";}
  82% {content: "Freela|";}
  84% {content: "Freelan|";}
  86% {content: "Freelanc|";}
  88% {content: "Freelance|";}
  90% {content: "Freelancer|";}
  91% {content: "Freelance|";}
  92% {content: "Freelanc|";}
  93% {content: "Freelan|";}
  94% {content: "Freela|";}
  95% {content: "Freel|";}
  96% {content: "Free|";}
  97% {content: "Fre|";}
  98% {content: "Fr|";}
  99% {content: "F|";}
  100% {content: "|";}
  
}
/* ------------------------------
end of home section
-------------------------------*/

/* ------------------------------
start of about section
-------------------------------*/
.about--pt {
  padding-top: 4rem;
}
.box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 6%), 0 2px 5px 0 rgba(0, 0, 0, 20%);
}
.about__info__title {
  color: var(--primary-dark-black);
  font-size: 1.1rem;
  font-weight: 600;
}
.about__info__txt {
  color: var(--primary-dark-black);
  font-size: 1rem;
  font-weight: 400;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.height-7 {
  height: 0.7rem;
}

.about__title-left {
  font-size: 2rem;
  position: relative;
  color: var(--primary-dark-black);
}
.about__title-left::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary-blue);
  width: 100px;
  left: 0;
  bottom: -12px;
}
.about__txt-left {
  font-size: 1.25rem;
  font-weight: 300;
}

/* ------------------------------
end of about section
-------------------------------*/

/* ------------------------------
start of services section
-------------------------------*/
.card-mine {
  border-radius: 1rem;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 10%);
}
.card-mine:hover .services__icon__circle {
  box-shadow: 0 0 0 10px #cde1f8;
  background-color: var(--primary-blue);
}
.card-mine:hover .services__icon__circle i {
  color: white;
}
.services__icon__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--primary-blue);
  transition: all.3s ease-in-out;
}
.services__icon__circle i {
  font-size: 40px;
  color: var(--primary-dark-black);
  transition: all.3s ease-in-out;
}
.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-dark-black);
}
.line-mf {
  width: 40px;
  height: 5px;
  background-color: var(--primary-blue);
  margin: auto;
}
.card-body {
  text-align: center;
}
.card-body h3 {
  color: var(--primary-dark-black);
  font-size: 1.4rem;
}
/* ------------------------------
end of services section
-------------------------------*/

/* ------------------------------
start of counter section
-------------------------------*/
#counter {
  background-image: url(../images/counters-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding: 8rem 0;
}
.main-counter {
  position: relative;
  z-index: 1;
}
.counter-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
  background-color: var(--primary-blue);
}
.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  color: white;
}
.counter-box__circle {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 10px #cde1f8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
}
.counter-box__num {
  text-align: center;
  margin-top: 30px;
}
.counter-box__num p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.counter-box__num span {
  text-transform: uppercase;
}
/* ------------------------------
end of counter section
-------------------------------*/

/* ------------------------------
start of portfolio section
-------------------------------*/
.card__title__h5 {
  color: var(--primary-dark-black);
  font-size: 1.2rem;
}
.card__title__p {
  font-size: 0.8rem;
}
.card__title__p span {
  color: #0078ff;
}
.img--specs {
  overflow: hidden;
}
.card--hover {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 10%);
}
.card--hover img {
  transition: all 0.5s ease-in-out;
}
.card--hover:hover img {
  transform: scale(1.2);
}
.fs-mine {
  font-size: 2.5rem;
}

/* ------------------------------
end of portfolio section
-------------------------------*/

/* ------------------------------
start of reviews section
-------------------------------*/

#reviews {
  background-image: url(../images/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding: 8rem 0;
}
.my-carousel {
  padding: 0 128px;
  text-align: center;
}
.my-c-btn {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* ------------------------------
end of reviews section
-------------------------------*/

/* ------------------------------
start of blog section
-------------------------------*/
.blog__card__body {
  position: relative;
}
.blog__card__link {
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}
.blog__card__title {
  color: var(--primary-dark-black);
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  font-weight: 500;
}

.blog__card__txt {
  color: #4e4e4e;
  font-size: 1rem;
}
.blog__card__footer {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 8px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.footer__img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer__link {
  text-decoration: none;
  color: #1e1e1e;
}

/* ------------------------------
end of blog section
-------------------------------*/

/* ------------------------------
start of form section
-------------------------------*/
#contact {
  padding-top: 4rem;
  margin-top: 4rem;
  background-image: url(../images/overlay-bg.jpg);
  position: relative;
}
.contact__overlay {
  background-color: #0078ff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
  z-index: 1;
}
.contact__mf {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 2;
}
.contact__in {
  background-color: #fff;
  padding: 3rem;
}
.contact__icons {
  display: flex;
  justify-content: flex-start;
}
.contact__icons_circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  border: 3px solid #0078ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e1e1e;
  transition: all 0.3s ease-in-out;
}

.contact__icons_circle:hover {
  background-color: #0078ff;
  border-color: #cde1f8;
  color: white;
}
#end {
  background-color: #0062d3;
  color: white;
}
/* -------------------------- */
@media all and (max-width:768px){
  
  .my-carousel {
    padding: 0 8px;
    
  }
}
